.dowlond__cv-btn {
    font-size: 16px;
    padding: 8px 25px;
    background-color: #121212;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #959595;
    color: #959595;
    animation: fadeInUp 0.7s ease-out forwards;

    &:hover {
        border: 2px solid #FD6F00;
        box-shadow: 0 0 10px #FD6F00;
        color: #FD6F00;
        background: #121212;

    }
}

@media (max-width: 800px) {
    .dowlond__cv-btn {
        font-size: 16px;
        padding: 8px 25px;
        background-color: #121212;
        border-radius: 10px;
        gap: 10px;
        border: 2px solid #959595;
        color: #959595;
        animation: fadeInUp 0.7s ease-out forwards;

        &:hover {
            border: 2px solid #FD6F00;
            box-shadow: 0 0 10px #FD6F00;
            color: #FD6F00;
            background: #121212;
        }
    }
}

@media (max-width:500px) {
    .dowlond__cv-btn {
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 8px;
        gap: 8px;

        &:hover {
            box-shadow: 0 0 8px #FD6F00;
        }
    }
}

@media (max-width:400px) {
    .dowlond__cv-btn {
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 8px;
        gap: 8px;

        &:hover {
            box-shadow: 0 0 8px #FD6F00;
        }
    }
}

@media (max-width:360px) {
    .dowlond__cv-btn {
        font-size: 12px;
        padding: 5px 18px;
        border-radius: 7px;
        gap: 7px;

        &:hover {
            box-shadow: 0 0 8px #FD6F00;
        }
    }
}