/* $bg-color:; */
.partfolio__peges {
    position: relative;
    max-width: 1440px;
    /* min-height: 10000px; */
    background-color: #121212;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 40px 80px 0 80px;
    transition: 0.7s;
    // overflow: hidden;
}

.home__btn a {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    text-decoration: none;

    .home-btn {
        font-size: 30px;
    }

    p {
        font-size: 30px;
    }
}

.sarlovha-p {
    width: 100%;
    text-align: center;

    h2 {
        font-size: 60px;
        text-align: center;
        background: linear-gradient(to right, #984300, #fd6f00, #ca5900);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 5px;
    }
}

.portfolio__section {
    margin-top: 70px;
    padding: 30px 0;
    font-family: Lato;

    .portfolio__contaynerr {
        margin-top: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 40px;

        .p__card {
            animation: fadeInUp 0.7s ease-out forwards;
            // width: 100%;
            width: 400px;
            height: 370px;
            border-radius: 15px;
            border: 2px solid #4d4d4d86;
            box-shadow: 0 0 10px #ffffff59;
            margin: 0 auto;

            .p__card-img {
                width: 100%;
                height: 300px;
                border-radius: 15px 15px 0 0;
                background-color: #121212;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    width: auto;
                    height: 100%;
                    border-radius: 15px 15px 0 0;
                    background-color: #4d4d4d86;
                }
            }

            .p__card-text {
                height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;

                h3 {
                    font-size: 25px;
                    font: 700;
                    color: #b9b9b9cb;
                }

                a {
                    text-decoration: none;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 15px 15px 15px;
                    padding: 0 0 0 15px;
                    background: linear-gradient(90deg, #121212, rgba(17, 17, 70, 0.767), rgb(0, 0, 255));

                    button {
                        background: #00000000;
                        border: none;
                        font-size: 30px;
                        color: rgba(0, 0, 255, 0.699);
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

.kichik__desginlar {
    h2 {
        text-align: center;
        margin-top: 70px;
        color: #fff;
        letter-spacing: 10px;
    }
}



@media (max-width:1000px) {
    .portfolio__section {
        margin-top: 60px;
        padding: 20px 0;

        .portfolio__contaynerr {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;

            .p__card {
                width: 300px;
                height: 250px;

                .p__card-img {
                    height: 200px;
                    overflow: hidden;
                }

                .p__card-text {
                    height: 50px;

                    h3 {
                        font-size: 20px;
                    }

                    a {
                        text-decoration: none;
                        height: 15px;

                        button {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }



    .home__btn a {
        margin-left: 10px;

        .home-btn {
            font-size: 25px;
        }

        p {
            font-size: 25px;
        }
    }

    .sarlovha-p {
        h2 {
            margin-top: 10px;
            font-size: 50px;
            letter-spacing: 3px;
        }
    }
}

@media (max-width:500px) {
    .portfolio__section {
        margin-top: 60px;
        padding: 15px 0;

        .portfolio__text {
            h2 {
                font-size: 35px;
            }
        }

        .portfolio__contaynerr {
            margin-top: 30px;
            // height: 840px;
            padding: 15px;
            // overflow: hidden;
        }
    }

    .home__btn a {
        margin-left: 10px;

        .home-btn {
            font-size: 20px;
        }

        p {
            font-size: 20px;
        }
    }

    .sarlovha-p {
        h2 {
            margin-top: 10px;
            font-size: 40px;
            letter-spacing: 2px;
        }
    }
}


.portfolio__more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    button {
        animation: fadeInUp 0.7s ease-out forwards;
        padding: 10px 25px;
        font-size: 20px;
        border-radius: 15px;
        background-color: #e96600;
        border: 2px solid #e96600;
        font: 900;
        color: #adadad;

        &:hover {
            color: #e96600;
            background-color: #121212;
            box-shadow: 0 0 15px #e96600;
        }
    }
}

@media (max-width:800px) {
    .portfolio__more {
        margin-top: 40px;
        // justify-content: end;

        button {
            padding: 6px 18px;
            font-size: 16px;
            border-radius: 13px;
            color: #adadad;
        }
    }
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




// @media(max-width:1440px) {
//     .partfolio__peges {
//         max-width: 14400px;
//         min-height: 1000px;
//         margin: 0 auto;
//         padding: 60px 80px;

//     }
// }

// @media(max-width:1000px) {
//     .partfolio__peges {
//         max-width: 1000px;
//         min-height: 1000px;
//         margin: 0 auto;
//         padding: 30px 50px;

//     }
// }

// @media(max-width:500px) {
//     .partfolio__peges {
//         /* max-width: 500px; */
//         min-height: 900px;
//         background-color: #121212;
//         margin: 0 auto;
//         padding: 15px 10px;

//     }
// }

// @media(max-width:450px) {
//     .partfolio__peges {
//         /* max-width: 450px; */
//         padding: 12px 8px;

//     }
// }

// @media(max-width:380px) {
//     .partfolio__peges {
//         max-width: 380px;
//         padding: 12px 8px;

//     }
// }

// @media(max-width:350px) {
//     .partfolio__peges {
//         min-width: 350px;
//         padding: 10px 7px;

//     }
// }

// .header-item {
//     transition: 0.7s;
// }

// /* .footer{
//     position: absolute;
//   } */